<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties"
	xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
	<Template>Normal.dotm</Template>
	<TotalTime>147</TotalTime>
	<Application>LibreOffice/7.4.3.2$Linux_X86_64 LibreOffice_project/40$Build-2</Application>
	<AppVersion>15.0000</AppVersion>
	<Pages>2</Pages>
	<Words>193</Words>
	<Characters>1113</Characters>
	<CharactersWithSpaces>1334</CharactersWithSpaces>
	<Paragraphs>33</Paragraphs>
</Properties>
